<!DOCTYPE html>
<html ng-app="PinerestApp">
<head>
  <meta charset="utf-8">
  <title>PhotoGallery ng1</title>
  <base href="/">
  <!-- inject:css -->
  <!-- endinject:css -->
  <link rel="stylesheet" href="/dist/app.css">
</head>
<body class="container-fullwidth">
  <!-- angular -->
  <div ui-view>
    <div class="page-header">
      <div class="container">
        <div class="navLinks">
          <div class="navLink">Gallery</div>
          <div class="navLink">Upload</div>
        </div>
      </div>
    </div>
    <div class="container">
      LOADING ...
    </div>
  </div>
  <!-- inject:js (vendor) -->
  <!-- inject:js (app) -->
  <!-- endinject -->
</body>
</html>

